<div class="app-main__sideItem">
  <header class="app-main__sideItemHeader">相关文章</header>
  <section class="app-main__sideItemBody">
    <div>文章1</div>
    <div>文章2</div>
    <div>文章3</div>
  </section>
</div>