<div class="app-article">
  <header class="app-article__header"><%= post.title%></header>
  <article class="app-article__body">
    <h1 class="app-article__bodyTitle"></h1>
    <section class="markdown-body">
      <%- post.content %>
    </section>
  </article>
</div>