
<head>
  <meta charset="utf-8">
  <title><%= config.title %></title>
  <!--设置浏览器兼容模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <!--支持响应式 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 网站关键字，影响SEO -->
  <meta name="keywords" content="daixinye,blog,javascript,css,node">
  <!--网站描述，影响SEO -->
  <meta name="description" content="daixinye's blog"> 
  <!-- Canonical links -->
  <link rel="canonical" href="<%= config.url %>">
  <!--加载全局js或css -->
  <%- css('css/index') %>
  <!-- RSS -->
  
  <script>
  </script>
</head>